{% extends "zoo/base.html" %}

{# for task 05, 06 #}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <h1>Animal list</h1>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        {% for animal in animals %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'zoo:animal_detail' animal.pk %}">{{ animal.name }}</a></td>
                <td>{{ animal.animal_type }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>no animals</td>
            </tr>
        {% endfor %}

    </table>
    <br>
    <a href="{% url 'zoo:animal_new' %}">NEW</a>

{% endblock content %}